*.komodoproject
*.sublime-project
*.sublime-workspace
.nvmrc
*~

nohup.out
public/javascripts/bundle.js

extraction/

appdata/
console/
log/
node_modules
public/build
public/css/build
.nvmrc

# OSX
.DS_Store

conf/


dist
package-lock.json
configs/
*.log

.vscode/launch.json